<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
          <div class="mt-5">
            <h2>Add a Restaurant</h2>
            <form action="/restaurants/createRestaurant" method="POST">
              <div class="mb-3">
                  <label for="restaurantName" class="form-label">Restaurant Name</label>
                  <input type="text" class="form-control" id="restaurantName" name="restaurantName" required>
              </div>
              <div class="mb-3">
                <label for="menuUrl" class="form-label">Menu URL</label>
                <input type="text" class="form-control" id="menuUrl" name="menuUrl" required>
              </div>
              <div class="mb-3">
                <label for="tag" class="form-label">Tag for Type of Restaurant</label>
                <input type="text" class="form-control" id="tag" name="tag">
            </div>
              <button type="submit" class="btn btn-primary" value="Add">Add</button>
            </form>
          </div>
      </div>
      <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<restaurants.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/restaurants/<%= restaurants[i]._id%>"><%= restaurants[i].restaurantName %></a>
            <a href="<%= restaurants[i].menuUrl %>" target="_blank">Menu</a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>