<%- include('partials/header') -%>

  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div>
          <p><strong>User Name</strong>: <%= user.userName %>
          </p>
          <p><strong>Email</strong>: <%= user.email %>
          </p>
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
        </div>

        <!-- Section to add a restaurant -->
        <div class="mt-5">
          <h2>Add a Restaurant</h2>
          <form action="/restaurants/createRestaurant" method="POST">
            <div class="mb-3">
              <input type="text" class="form-control" id="restaurantName" name="restaurantName" required
                placeholder="Restaurant Name">
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="menuUrl" name="menuUrl" required placeholder="Menu URL">
            </div>
            <div class="mb-3">
              <select name="tag" id="tag" class="select w-full max-w-xs">
                <option disabled selected>Select a tag</option>
                <option value="American">American</option>
                <option value="Asian Fusion">Asian Fusion</option>
                <option value="Bakery">Bakery</option>
                <option value="Bar/Pub">Bar/Pub</option>
                <option value="Barbecue">Barbecue</option>
                <option value="Barcade">Barcade</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Brewery">Brewery</option>
                <option value="Brunch">Brunch</option>
                <option value="Cafe/Coffee">Cafe/Coffee Shop</option>
                <option value="Chinese">Chinese</option>
                <option value="Creamery">Creamery</option>
                <option value="Deli">Deli</option>
                <option value="Diner">Diner</option>
                <option value="Distillary">Distillary</option>
                <option value="Fast Food">Fast Food</option>
                <option value="Greek">Greek</option>
                <option value="Italian">Italian</option>
                <option value="Japanese">Japanese</option>
                <option value="Pizzeria">Pizzeria</option>
                <option value="Thai">Thai</option>
                <option value="UK">UK</option>
                <option value="Vegan">Vegan</option>
                <option value="Vietnamese">Vietnamese</option>
                <option value="Other">Other</option>
              </select>
            </div>
            <button type="submit" class="btn btn-secondary" value="Add">Add</button>
          </form>
        </div>
      </div>

      <!-- My Restaurants section -->
      <div class="col-6">
        <div class="overflow-x-auto flex-column">
          <span>My Restaurants</span>
          <table class="table w-full">
            <thead>
              <tr>
                <th>Name</th>
                <th>Tag</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<restaurants.length; i++) {%>
                <% if (restaurants[i].addedById==user.id) { %>
                  <tr onclick="location.href='/restaurants/<%=restaurants[i]._id%>'" class="hover">
                    <td>
                      <%= restaurants[i].restaurantName %>
                    </td>
                    <td>
                      <%= restaurants[i].tag %>
                    </td>
                  </tr>
                  <% } %>
                    <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  </div>

  <%- include('partials/footer') -%>